html {
    margin-top: 2em;
    font-family: 'Open Sans', sans-serif;
}


body {
    padding: 0;
    margin: 0;
}

.first-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-top: 2em;
    margin-bottom: 5em;
}



.first-left {
    margin-left: 15em;
}

.first-left h1 {
    max-width: 8em;
    font-size: 50px;
    margin-bottom: -0.2em;
    z-index: -1;
    color: #19063d;
    
}

.first-left h2 {
    color: #636363;
    margin-bottom: 1.5em;
}

.first-left button {
    transition: 0.3s;
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    width: 10em;
    height: 2.5em;
    border-radius: 30px;
    cursor: pointer;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69); 

}

.first-left button:hover {
    transform:scale(1.02);
    
}

.searchProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 99vw;
    margin-left: -8px;
    margin-top: -1em;
    transition: all 0.3s;
    
}

.searchProduct-bar {
    background-color: white;
    width: 80em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    -webkit-box-shadow: -1px 3px 24px -6px rgba(0,0,0,0.20);
    -moz-box-shadow: -1px 3px 24px -6px rgba(0,0,0,0.20);
    box-shadow: -1px 3px 24px -6px rgba(0,0,0,0.20);
    border-radius: 10px;
    transition: all 0.3s;
}

.searchProduct-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    transition: all 0.3s;
}

.searchProduct input {
    width: 50em;
    height: 3em;
    font-size: 20px;
    color: #19063d;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    border: none;
    transition: all 0.3s;
}

.searchProduct input:focus {
    outline: none;
}


.searchProduct button {
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    border: none;
    transition: 0.3s;
    color: white;
    margin-left: 2em;
    width: 8em;
    height: 3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-radius: 12px;
    font-weight: bolder;
    cursor: pointer;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69); 

}

.searchProduct button:hover {
    transform:scale(1.02);
}


.first-right img {
    width: 90%;
    height: auto;
    
}

@media (max-width: 1279px) {
    .first-right img {
        display: none;
    }

    .first-left h1{
        display: flex;
        justify-content: center;
        
    }

    .first-left {
        margin: 0;
    }

    .first-content {
        margin-top: -2em;
        display: flex;
        justify-content: center;
        text-align: center;
        
    }

    .searchProduct input {
        width: 25em;

    }

    
}

@media (max-width: 722px){
    
    
    .first-content {
        justify-content: center;
        text-align: center;
        font-size: 10px;
        
    }


    
}

@media (max-width: 800px) {
    .navbar {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .navbar-content button {
        display: none;
    }

    .searchProduct input {
        width: 10em;

    }

    
}

@media (max-width: 380px) {
    .searchProduct input {
        width: 5em;

    }
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto;
    font-size: 75px;
    width: 100%;
    justify-items: center;
    
}

.categories h1 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productDescription {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.productDescription p {
    color: #636363;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1em;
    text-align: center;
    width: 60%;
}


.first-category, .second-category, .third-category {
    width: 5em;
    background-color: transparent;
    height: 7em;
    border-radius: 10px;
    transition: all ease 0.4s;
    
}



.first-category:hover, .second-category:hover, .third-category:hover {
    background-color: white;
    -webkit-box-shadow: -1px 3px 24px -6px rgba(0,0,0,0.10);
    -moz-box-shadow: -1px 3px 24px -6px rgba(0,0,0,0.10);
    box-shadow: -1px 3px 24px -6px rgba(0,0,0,0.10);
    cursor: pointer;
}

@media (max-width: 1500px) {
    .first-category:hover, .second-category:hover, .third-category:hover {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        cursor: pointer;
    }
}



@media (max-width: 800px) {
    .categories {
        font-size: 50px;
    }

    .categories h1 {
        font-size: 25px;
    }

    .categories p {
        font-size: 15px;
    }
}

@media (min-width: 801px) and (max-width: 1150px) {
    .categories {
        font-size: 60px;
    }

    .categories h1 {
        font-size: 30px;
    }

    .categories p {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .categories {
        font-size: 35px;
    }

    .categories h1 {
        font-size: 20px;
    }

    .categories p {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .categories {
        font-size: 25px;
    }

    .categories h1 {
        font-size: 15px;
    }

    .categories p {
        font-size: 10px;
    }

    .second-content h1:first-child {
        font-size: 5px;
        color: red;
    }
}



.first-category {
    margin-left: 60%;
}

.third-category {
    margin-left: -60%;
}

@media (min-width: 3500px) {
    .first-category {
        margin-left: 120%;
    }
    
    .third-category {
        margin-left: -120%;
    }

    .first-left {
        margin-top: 25em;
        margin-left: 50em;
    }


}

@media (max-width: 800px) {
    .first-category {
        margin-left: 0;
    }
    
    .third-category {
        margin-left: 0;
    }

}


.icon-space {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.icon {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 1.2em;
}

.icon1 {
    background-color: #fbb513;
}

.icon2 {
    background-color: #05e591;
}

.icon3 {
    background-color: #fc185a;
}

.second-content {
    background-color: #f3f4f6;
    margin-top: 7em;
    padding-top: 5em;
    width: 99.65vw;
    margin-left: -8px;
}


.snd-content-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3em;

}


.snd-content-btn button {
    border: none;
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    border: none;
    transition: 0.3s;
    color: white;
    width: 10em;
    height: 3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-radius: 12px;
    font-weight: bolder;
    cursor: pointer;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69); 
    margin-bottom: 40px;
}

.snd-content-btn button:hover {
    transform:scale(1.02);
}

.second-content h1:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #19063d;
    font-weight: bolder;
    margin-bottom: 80px;
}

@media (max-width: 400px) {
    .second-content h1:first-child {
        font-size: 40px;
    }
}

.third-content {
    display: flex;
    justify-content: center;
    background-color: white;
}

.third-content img {
    width: 90%;
    height: auto;
    cursor: pointer;
    
}



.third-content-cards {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 4em;
    font-family: 'Open Sans', sans-serif;
    grid-template-rows: auto;
    justify-content: center;

}

.third-end-more, .third-end-more-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-end-more h2 {
    color:#636363;
}

.third-end-more-btn button {
    border: none;
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    border: none;
    transition: 0.3s;
    color: white;
    width: 10em;
    height: 3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-radius: 12px;
    font-weight: bolder;
    cursor: pointer;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69); 
    margin-top: 1em;
    margin-bottom: 5em;
}

.third-end-more-btn button:hover {
    transform:scale(1.02);
}

.third-content-title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #19063d;
    font-weight: bolder;
    margin-bottom: 80px;
    margin-top: 1em;
}



.home-products-card{
    width: 164px;
    height: 254px;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10); 
    transition: all ease 0.2s;
    
}

.home-products-card:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.20);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.20);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.20);
    transform: scale(1.05);
    transform-origin: top;

}
.icon-thrd {
    width: 176px;
    height: 174px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);

    
}

.home-products-card:hover #crd-h3-description {
    display: block;
}

.crd-title, .crd-description, .crd-price, .crd-icon-space, .crd-shipping, .crd-more {
    width: 100%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    margin-left: 0.5em;
}


.crd-title h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: -0.5em;
}


.crd-price h2 {
    font-weight: 700;
    font-size: 16px!important;
    line-height: 19px;
    color: #464646;
    margin-bottom: -0.5em;

}

.crd-shipping h2{
    margin-bottom: -1em;
    font-weight: bolder;
    font-size: 16px!important;
    line-height: 19px;
    color: rgba(112,41,251,1)!important;

}


#crd-btn-more {
    border: none;
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    color: white;
    width: 8em;
    height: 3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 12px;
    font-weight: bolder;
    cursor: pointer;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69); 
    display: none;
}

.crd-price h2 {
    font-size: 18px;
}


.crd-icon {
    color:#fbb513;
    font-size: 80px;
}


#crd-h3-description {
    text-align: center;
    width: 80%;
    font-size: 12px;
    height: 5em;
    display: none;
    
}



@media (max-width: 1279px) {
    .third-content-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    
    
}
@media (max-width: 1400px) {
    .crd-title h1 {
        font-size: 20px;
    }

    

}

@media (max-width: 1275px) {
    .home-products-card{
        height: 20em;
        width: 50%;
        margin: 1em 1em 1em 8em;
    
    }
}

@media (max-width: 800px) {
    .home-products-card{
        height: 20em;
        width: 70%;
        margin: 1em 1em 1em 3em;
    
    }

    .crd-title h1 {
        font-size: 18px;
        margin-bottom: 1em;
    }
}

@media (max-width: 600px) {
    .third-content-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .home-products-card{
        height: 20em;
        width: 70%;
        margin: 1em 1em 1em 2.5em;
    
    }

    .crd-title h1 {
        font-size: 15px;
        margin-bottom: 1.5em;
    }
}

@media (max-width: 700px) {
    .crd-title h1 {
        font-size: 15px;
        margin-bottom: 1.5em;
    }
}

.footer-content{
    display: flex;
    gap: 10vw;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f4f6;
    
}

.footer-content h1 {
    color: #19063d;
    font-family: 'Open Sans', sans-serif;
}

.first-footer-content {
    display: flex;
}

.first-footer-content img {
    height: 40px;
    width: 40px;
    margin-top: 1em;
    padding-right: 0.5em;
    cursor: pointer;
}

.first-footer-content h2 {
    color: #19063d;
    cursor: pointer;
}

.second-footer-content h3 {
    font-size: 16px;
    cursor: pointer;
    color: #555151;
}

.third-footer-content {
    margin-top: -1em;
}

.third-footer-content input {
    display: flex;
    border: none;
    width: 30vw;
    height: 56px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-left: 1em;
    margin-bottom: 1em;
    color: black;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.20);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.20);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.20);
}

.third-footer-content textarea {
    display: flex;
    border: none;
    width: 30vw;
    height: 56px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-left: 1em;
    margin-bottom: 1em;
    color: black;
    resize: none;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.20);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.20);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.20);
    padding-top: 0.8em;
}

.third-footer-content input:nth-child(3) {
    height: 90px;
    display: flex;
    text-align: start;
}

.third-footer-content input:focus {
    outline: none;
}

.third-footer-content textarea:focus {
    outline: none;
}

.third-footer-content button {
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    border: none;
    color: white;
    font-size: 15px;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    width: 5rem;
}


.navbar {
    max-width: 100vw;
    height: 3em;
    margin-left: -8px;
    margin-bottom: 3em;
    margin-top: -2.5em;
    
}

.navbar-content {
    float: right;
    display: flex;
    margin-right: 5em;
    margin-top: 0.5em;
    gap: 0.2em;

}


.navbar-content button {
    border: none;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    height: 5em;
    cursor: pointer;
    width: 6em;
}

.navbar-content button:hover {
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);     
    color: white;
}

.navbar-logo {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    float: left;
    margin-left: 5em;
    height: 3em;
    gap: 0.5em;
    cursor: pointer;
    user-select: none;
    padding-top: 2em;
}


.navbar-logo img {
    height: 40px;
    width: 40px;
}

.navbar-logo h2 {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); 
    color: #19063d;
}

.products {
    background-color: #f3f4f6;
    padding-bottom: 8em;
    display: flex;
    width: 99.2vw;
    margin-top: -2em;
}

@media (max-width: 800px) {
    .products {
        margin-top: 2em;
    }

    
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    width: 100em;
    margin-top: 8em;
    justify-content: center;
    margin-left: 0.49em;
}

.products-sidebar {
    width: 15em;
    height: 52em;
    background-color: white;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    border-radius: 10px;
    padding-top: 1em;
    margin-top: 1em;
    margin-left: 1em;

}

@media (max-width: 870px) {
    .products-sidebar {
        display: none;
    }

}


.products-sidebar-categories {
    display: grid;
    width: 15em;
    height: 48em;
    background-color: transparent;
}

.products-sidebar-categories p {
    margin-left: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #19063d;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: -0.5em;
}

.products-sidebar-categories button {
    border: none;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform:capitalize;
    padding: 1px;
    cursor: pointer;
    color: black;
    font-weight: bolder;
    text-align: left;
    padding-left: 2em;
    border-bottom: 1px solid #dbdbdb;

}


.products-sidebar-categories button:hover {
    color: white;
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%); 
}

.products-sidebar-categories button:focus {
    color: white;
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%); 
}

.products-search input {
    border: none;
    margin-left: 1em;
    height: 3em;
    padding-left: 0.5em;
    transition: 0.5s;
    
}

.products-search button {
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    border: none;
    color: white;
    font-size: 15px;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.products-search input:focus {
    outline: none;
    background-color: #f3f4f6;

}

.categories-back-title {
    display: flex;
    gap: 2em;
    text-transform: capitalize;
    position: absolute;
    margin-left: 17em;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    background-color: white;
    height: 4em;
    width: 20em;
    align-items: center;
    margin-top: -0.01em;
    padding-left: 1em;
    border-radius: 10px;
    margin-top: 1.8em;
    
}

@media (max-width: 769px) {
    .categories-back-title {
        margin-left: 10em;
    }
}

@media (min-width: 700px) {
    .categories-back-title {
        width: 30em;
    }
    
}

@media (max-width: 400px) {
    .categories-back-title {
        width: 10em;
        margin-left: 6em;
        height: 6em;
    }
}

@media (max-width: 870px) {
    .categories-back-title {
        margin-left: 10em;
    }
}


.categories-back-title button {
    border: none;
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    color: white;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    font-size: 15px;
    border-radius: 4px;
    transition: 0.3s;
}

.categories-back-title button:hover {
    transform: scale(1.1);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    width: 25em;
    height: 35em;
    font-size: 10px;
    background-color: white;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    border-radius: 5px;
    
}

.card-icon {
    font-size: 20px;
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    width: 3em;
    height: 3em;
    color: white;
    border-radius: 5px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.card-description-category {
    font-size: 8px;
    text-transform: uppercase;
    color: #19063d;
    margin-bottom: -2em;
    
}

.card-description-title {
    font-weight: bolder;
    font-size: 11px;
    margin-bottom: -1em;
    text-transform: capitalize;
    height: 6em;
    align-items: center;
    display: flex;
    width: 80%;
    text-align: center;
    justify-content: center;
}

.card-description-price {
    margin-top: -1em;
    margin-bottom: 1em;
    color: #19063d;

}



.card-description-desc {
    font-size: 8px;
    text-align: center;
    height: 12em;
    display: flex;
    width: 22em;
    justify-content: center;
    overflow: hidden;
    text-transform: capitalize;    
    
}

#add-cart-btn {
    visibility: hidden;
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    border: none;
    color: white;
    width: 7em;
    height: 3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69); 
    transition: transform 0.5s;
    border-radius: 8px;
}


.show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -7em;
}

#show-more-btn {
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    border: none;
    color: white;
    width: 7em;
    height: 3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.69); 
    transition: transform 0.5s;
    border-radius: 8px;
}

#show-more-btn:hover {
    transform: scale(1.06);
}

.card:hover #add-cart-btn {
    visibility: visible;
}

#add-cart-btn:hover {
    transform: scale(1.1);
}


img {
    width: 20em;
    height: 250px;
}

.card-description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart-btn {
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    color: white;
    border: none;
    font-size: 25px;
    padding: 18px;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    top: 4.3em;
    left: 31.4em;
}

@media (max-width: 870px) {
    .cart-btn {
        top: 5em;
        left: 27em;
    }
}




.cart-container {
    padding-top: 7em;
    padding-left: 15vw;
    background-color: #f3f4f6;
    min-height: 80vh;
    padding-bottom: 1em;
}

.cart-card {
    display: flex;
    width: 70vw;
    height: 15em;
    font-size: 10px;
    background-color: white;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    border-radius: 5px;
    margin-bottom: 1.5em;
}

.cart-card-description {
    display: flex;
    flex-direction: column;
    width: 110em;
    margin-left: 2em;
    overflow: hidden;
    
}

#cart-card-title {
    margin-bottom: -1em;
    margin-top: 2.3em;
    text-transform: capitalize;
}

#cart-card-desc {
    margin-top: -0.2em;
    height: 4em;
    width: 40em;
}


.cart-categories-back-title {
    display: flex;
    gap: 2em;
    text-transform: capitalize;
    position: absolute;
    margin-left: 15vw;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    background-color: white;
    height: 4em;
    width: 30vw;
    align-items: center;
    margin-top: -0.01em;
    padding-left: 1em;
    border-radius: 10px;
    margin-top: 1.8em;
    
}


.cart-categories-back-title button {
    border: none;
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    color: white;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    font-size: 15px;
    border-radius: 4px;
    transition: 0.3s;
}

.cart-categories-back-title button:hover {
    transform: scale(1.1);
}

.remove-cart {
    display: flex;
}

.remove-cart button {
    font-size: 30px;
    width: 3em;
    height: 3em;
    color: #fc185a;
    border-radius: 5px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 0.8em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
    
}

.remove-cart button:hover {
    transform: scale(1.1);
}

.cart-card-icon {
    font-size: 20px;
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    min-width: 3em;
    height: 3em;
    color: white;
    border-radius: 5px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2em;
    margin-left: 1em;
}


.burger-menu-categories button{
    display: flex;
    border: none;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform:capitalize;
    padding: 5px;
    cursor: pointer;
    color: black;
    font-weight: bolder;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}

.burger-menu-categories button:focus {
    outline: none;
    color: white;
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
}

.burger-menu-categories p {
    font-family: 'Open Sans', sans-serif;
    color: #19063d;
    font-weight: bolder;
    font-size: 20px;
    margin-top: -2em;
}

.burger-menu-categories:focus {
    outline: none;
}

.bm-burger-bars {
    background: linear-gradient(90deg, rgba(158,67,240,1) 0%, rgba(112,41,251,1) 100%);
    display: none;
}

.bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    -webkit-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    -moz-box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
    box-shadow: 1px 4px 14px -3px rgba(0,0,0,0.10);
}

.bm-menu::-webkit-scrollbar {
    display: none;
}


.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 100px;
    top: 140px;
    display: none;
    
}

@media (max-width: 400px) {
    .bm-burger-button {
        left: 45px;
        top: 155px;
    }

    .cart-btn {
        top: 5.5em;
        left: 11.4em;
    }

    .categories-back-title {
        margin-left: 6em;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .bm-burger-button {
        left: 45px;
    }

    .cart-btn {
        left: 24em;
    }

    .categories-back-title {
        margin-left: 6em;
    }
}

@media (min-width: 400px) and (max-width: 700px) {
    .bm-burger-button {
        left: 45px;
    }

    .cart-btn {
        left: 17.8em;
    }

    .categories-back-title {
        margin-left: 6em;
    }
}

@media (max-width: 500px) {
    .categories-back-title {
        width: 11em;
    }

    .cart-btn {
        left: 12em;
    }
}



.bm-cross {
    background: #bdc3c7;
}

.bm-morph-shape {
    fill: #373a47;
}
  
  
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}
  

.bm-item {
    display: inline-block;
}
  

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 870px) {
    .bm-burger-bars {
        display: flex;
    }

    .bm-burger-button {
        display: block;
        
    }

}



@media (max-width: 870px) {
    .bm-burger-button {

        top: 128px;
    }

    .cart-btn {
        top: 4.4em;
    }
}

@media (max-width: 800px) {
    .bm-burger-button {

        top: 130px;
    }

    .cart-btn {
        top: 4.7em;
    }
    
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.sbl-circ-path {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    height: 48px;
    width: 48px;
    color: rgba(90, 90, 90, 0.2);
    position: fixed;
    border: 5px solid;
    border-radius: 50%;
    border-right-color: #19063d;
    animation: rotate 1s linear infinite; }
    
  
  @keyframes rotate {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); } }